{% extends "base.html.twig" %}

{% block body %}
	<h1>Bienvenue dans ce blog!</h1>

	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore veritatis suscipit quod dignissimos reprehenderit soluta maxime ullam autem rem, ab porro dolorem nihil a atque praesentium nisi voluptatum nam at!</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, voluptatem eum aperiam debitis ipsum ipsa amet iste in, voluptate cum nostrum harum deserunt dolore distinctio architecto corporis, expedita nesciunt qui.
	Nulla expedita pariatur eos nemo sunt error eaque, unde fuga. Facere est minus exercitationem enim quae! Veniam sed quia natus blanditiis modi, magnam totam consequatur et? Quos provident repellat esse.</p>
{% endblock %}
